
* {
    margin: 0;
    padding: 0;
   
 }
 body
 {
    background-color: #548687;
    text-align: center;
 }

.container
{
   height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.game
{
   height: 60vmin;
   width:60vmin;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1.5vmin; 
   
}

.box
{
   height: 18vmin;
   width: 18vmin;
   border:none;
   border-radius: 1rem;
   box-shadow: 0 0 1rem rgba(0,0,0,0.3);
   font-size: 8vmin;
   background-color: #ffffc7;
}


#reset-btn
{
   padding: 1rem;
   font-size: 1.5rem;
   background-color: #191913;
   color: #fff;
   border-radius: 1rem;
}
#new-game
{
   padding: 1rem;
   font-size: 1.5rem;
   background-color: #191913;
   color: #fff;
   border-radius: 1rem;
}
#msg
{
   font-size: 8vmin;
   color: #ffffc7;
}
.msg-container
{
   height: 80vmin;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items:center;
   flex-direction: column;
   gap: 4rem;
}
.hide
{
   display: none;
}



      
.textO
{
   color: #fff;
   text-shadow:
    0 0 5px #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff;
}
.textX
{

   color: #fff;
   text-shadow:
    0 0 5px red,
    0 0 10px red,
    0 0 20px red,
    0 0 40px red;
}  


.win-line {
  position: absolute;
  width: 0;
  height: 6px;
  background: #ff3c3c;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transition: width 0.4s ease;
  border-radius: 5px;
  pointer-events: none;
}

.game {
  position: relative;
}
